DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=bedrock
SECRET_KEY=thisbetterbesecretkey
GEMINI_API_KEYS=["DUMMY_KEY_1","DUMMY_KEY_2","DUMMY_KEY_3"]
TAVILY_API_KEY=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
OPENAI_API_KEY=DUMMY_KEY
QUERY_URL=https://llm.katiyar.xyz/query
REMOTE_GPU=False
USE_VISION_MODEL=True
VISION_URL=https://llm.katiyar.xyz/vision-query
MAIN_MODEL=gpt-oss:20b-50k-8k
LOCAL_BASE_URL=http://localhost
CUDA_VISIBLE_DEVICES=0